<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <div class="opacity_back">
        <div class="finish_content_cloc">
            <div class="finish_blue">
                <p class="finish_d">AUTOMONEY</p>
            </div>
            <p>Ваше замовлення прийнято</p>
            <p>Невдовзі з вами зв'яжеться наш співробітник</p>
            <a href="/index/AZ"><input class="buttonstyle_sec" type="button" value="Готово"></a>
        </div>

    </div>
</body>
</html>